<html>
{% extends 'products/base.html' %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-6 mt-3">
            <img class="card" height="300px" width="350px" src="{{ item.prod_image }}">
        </div>

        <div class="col-md-6 mt-3">
            <h3>{{item.prod_name}}</h3>
            <h5>{{item.prod_desc}}</h5>
            <h5>Rs. {{item.price}}</h5>
            <a href="{% url 'products:delete' item.slug %}" class="btn btn-danger">Delete</a>
            <a href="{% url 'products:add_to_cart' item.slug %}" class="btn btn-info">Add to Cart</a>
            <a href="{% url 'products:favourites' item.slug %}" class="btn btn-info">Add To Wishlist</a>
            <a href="{% url 'products:remove_from_cart' item.slug %}" class="btn btn-info">Remove from Cart</a>
        </div>
    </div>
</div>
{% endblock %}

</html>

