<html>
{% extends 'products/base.html' %}
{% block body %}


<div class="container">
    <div class="row">
        {% for item in prod_list %}
        <div class="col-md-3">
            <div class="card">
                <img src="{{item.prod_image}}" class="card-img-top" alt=" ">
                <div class="card-body">
                    <h5 class="card-title">{{ item.prod_name }}</h5>
                    <p class="card-text">Rs. {{ item.price }}</p>
                    <a href="{% url 'products:details' item.slug %}" class="btn btn-primary">Details</a>
                </div>
            </div>
        </div>
        {% endfor%}
    </div>
</div>


{% endblock %}

</html>