{% extends 'products/base.html' %}
{% block body %}

<div class="album py-5 bg-light">
    <div class="container">

        <div class="row">
            {% for item in prod_list %}
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" src="{{item.prod_image}}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{ item.prod_name }}<span class="float-right">Rs. {{item.price}}</span></h5>
                        <p class="card-text">{{item.add_summary | capfirst}}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="{% url 'products:details' item.slug %}" type="button"
                                    class="btn btn-sm btn-outline-secondary">View Product</a>
                                <a href="{% url 'products:add_to_cart' item.slug %}" type="button"
                                    class="btn btn-sm btn-outline-secondary">Add to cart</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>


{% endblock %}